bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.L0002B_Uppgift2/.idea/.gitignore
/.idea/.idea.L0002B_Uppgift2/.idea/encodings.xml
/.idea/.idea.L0002B_Uppgift2/.idea/indexLayout.xml
/.idea/.idea.L0002B_Uppgift2/.idea/vcs.xml
